#cuerpo{
    display: flex;
    flex-direction: column;
}

.tablaUsuarios{
    border-collapse: collapse;
    border: burlywood 1px solid;
    align-self: center;
}

.titulos{
    background-color: burlywood;
}

.datos{
    text-align: center;
}

#imagenes{
    width: 20%;
}

.imagen{
    width: 10%;
}

.enlaces{
    margin: 30px;

}

.numero{
    color: black;
    display: contents;
    font-weight: bold;
    font-size: 20px;
}

.modificando{
    text-align: center;
    color: black;
    border: 1px solid #343a40;
    border-radius: .25rem;
    text-align: center;
}

.mostrando{
    font-weight: bold;
}

.nelementos{
    text-align: center;
    color: black;
    border: 1px solid #343a40;
    font-size: 15px;
    border-radius: .25rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.botones{
    background-color: burlywood;
    color: black;
    border: 1px solid #343a40;
    font-size: 15px;
    border-radius: .25rem;
    cursor: pointer;
    justify-content: center;
    margin: 10px;
}
